<link rel="stylesheet" href="generic.css">

<main>

  <div id="animation-4" class="animation">
    <div class="white bold arimo mask">
      <div id="title">John Doe</div>
    </div>
    <div class="mask"><div></div></div>
  </div>

</main>

<script type="text/javascript">
  const urlParams = new URLSearchParams(window.location.search);
  document.getElementById("title").innerHTML = urlParams.get('title');

  // Add Custom CSS
  var style = document.createElement('style');
  style.innerHTML =
    ':root {' +
      '--primary-color: #' + urlParams.get('color') +
    '}';
  var ref = document.querySelector('script');
  ref.parentNode.insertBefore(style, ref);
</script>
