<link rel="stylesheet" href="generic.css">

<main>

  <div id="animation-5" class="animation">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
      <defs>
        <clipPath id="mask-bottom-right">
          <rect class="clip-path" x="70%" y="0" width="30%" height="100%"/>
        </clipPath>
        <clipPath id="mask-top">
          <rect class="clip-path" x="0" y="0" width="100%" height="100%"/>
        </clipPath>
        <clipPath id="mask-bottom-left">
          <rect class="clip-path" x="0" y="0" width="30%" height="100%"/>
        </clipPath>
      </defs>

      <line class="bottom-right" x1="70%" y1="100%" x2="100%" y2="100%"/>
      <line class="right" x1="100%" y1="0" x2="100%" y2="100%"/>
      <line class="top" x1="0" y1="0" x2="100%" y2="0"/>
      <line class="left" x1="0" y1="0" x2="0" y2="100%"/>
      <line class="bottom-left" x1="0" y1="100%" x2="30%" y2="100%"/>
    </svg>
    <div class="white bold arimo mask">
      <div id="title">Nathan Fillion</div>
    </div>
    <div class="white mask">
      <div id="subtitle">Director</div>
    </div>
  </div>
</main>

<script type="text/javascript">
  const urlParams = new URLSearchParams(window.location.search);
  document.getElementById("title").innerHTML = urlParams.get('title');
  document.getElementById("subtitle").innerHTML = urlParams.get('subtitle');

  // Add Custom CSS
  var style = document.createElement('style');
  style.innerHTML =
    ':root {' +
      '--primary-color: #' + urlParams.get('color') +
    '}';
  var ref = document.querySelector('script');
  ref.parentNode.insertBefore(style, ref);
</script>
