<link rel="stylesheet" href="generic.css">

<main>
  <div id="animation-1" class="animation">
    <div class="red">/</div>
    <div class="white light mask">
      <div id="title">Frederic</div>
    </div>
    <div class="white light mask">
      <div id="subtitle">Colins</div>
    </div>
  </div>
</main>

<script type="text/javascript">
  const urlParams = new URLSearchParams(window.location.search);
  document.getElementById("title").innerHTML = urlParams.get('title');
  document.getElementById("subtitle").innerHTML = urlParams.get('subtitle');

  // Add Custom CSS
  var style = document.createElement('style');
  style.innerHTML =
    ':root {' +
      '--primary-color: #' + urlParams.get('color') +
    '}';
  var ref = document.querySelector('script');
  ref.parentNode.insertBefore(style, ref);
</script>
