<link rel="stylesheet" href="generic.css">

<main>

  <div id="animation-2" class="animation">
    <div class="red bold arimo mask">
      <div id="title">John Doe</div>
    </div>
    <div class="white light mask">
      <div id="subtitle">Motion Designer</div>
    </div>
  </div>

</main>

<script type="text/javascript">
  const urlParams = new URLSearchParams(window.location.search);
  document.getElementById("title").innerHTML = urlParams.get('title');
  document.getElementById("subtitle").innerHTML = urlParams.get('subtitle');

  // Add Custom CSS
  var style = document.createElement('style');
  style.innerHTML =
    ':root {' +
      '--primary-color: #' + urlParams.get('color') +
    '}';
  var ref = document.querySelector('script');
  ref.parentNode.insertBefore(style, ref);
</script>
